//$pri-color: #444;
$pri-color: rgb(61, 61, 61);
$sec-color: #537ff7;
$home-image: url(../img/background2.jpg);
$show-home-img: false;
$background-overlay-opacity: 0.9;

/* //Random bilde for hver gang scss kompileres.


$imagesarray: ("");
@for $i from 1 through 3 {
  $imgpath: "../img/background" + $i + ".jpg";
  $imagesarray: append($imagesarray, $imgpath);
}

$img: nth($imagesarray, random(length($imagesarray)));



 */
@mixin easOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-img {
    //Hvis jeg skulle ha behov for 책 fjerne bilde og bare ha en simpel bakgrunn.
    &#bg-img {
      background: $home-image;
      //background: url($img);
      background-attachment: fixed;
      background-size: cover;

      &::after {
        //Legger p책 overlay, s책 det blir lettere 책 lese teksten.
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($pri-color, $background-overlay-opacity);
      }
    }
  }
}
